<mat-card class="object-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ event?.name }}</mat-card-title>
      <mat-card-subtitle>
        <p>{{ event?.category }}</p>
        <p><strong>Date:</strong> {{ formatDate() }}</p>
        <p><strong>Address:</strong> {{ event?.address }}</p>
        <p><strong>Capacity:</strong> {{ event?.capacity }}</p>
        <p><strong>Places Occupied:</strong> {{ event?.placesOccupied }}</p>
        <p *ngIf="hasRegistrationDate()"><strong>RegistrationDate:</strong> {{ getRegistrationDate() | date:'longDate'}}</p>
      </mat-card-subtitle>
      <img mat-card-md-image *ngIf="hasImage" [src]="event?.imageUrl + '?timestamp=' + Date.now()" alt="Image"
           class="object-image"/>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <p>{{ event?.description }}</p>
  </mat-card-content>

  <mat-card-actions *ngIf="!isDetailed">
    <button mat-flat-button (click)="toDetailedPage()">More Info</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="isDetailed" class="detailed-actions-container">
    <div class="register-buttons">
      <button [disabled]="!isRegisterButtonAvailable()" mat-flat-button
              (click)="register()">Register
      </button>
      <button [disabled]="!getFieldIsRegistered()" mat-flat-button
              (click)="unregister()">Unregister
      </button>
    </div>
    <div *ngIf="isAdmin()" class="admin-buttons">
      <button mat-flat-button class="update-btn"
              (click)="updateEvent()">Update
      </button>
      <button mat-flat-button color="warn"
              (click)="deleteEvent()">Delete
      </button>
    </div>
  </mat-card-actions>
</mat-card>
